# Ignore config files
*.pyc
__pycache__/
*.zip
*.csv
*.txt

# Ignore your trading config files specifically
trading_config.py
Phemex_trading_config.py

# Ignore other local environment files if any
.env
.idea/
.vscode/
